:root {
    --yellow: (47, 88%, 63%);
    --gray-950: (0, 0%, 7%);
    --gray-500: (0, 0%, 42%);
    --white: (0, 0%, 100%);
    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color:#f4d04e ;
    width: 100vw;
    height: 100vh;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }