:root {
    --yellow: hsl(47, 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);

    --space-100: 8px;
    --space-150: 12px;
    --space-200: 16px;

    --line-height: 150%;
    --spacing: 0px;
    --h1: 24px;
    --h2: 16px;
    --h3: 14px;
}

@font-face {
    font-family: figtree-medium;
    font-weight: 400;
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: figtree-extra-bold;
    src: url(./assets/fonts/static/Figtree-ExtraBold.ttf);
}

.preset1 {
    font-family: figtree-extra-bold, sans-serif;
    font-size: var(--h1);
    line-height: var(--line-height);
    letter-spacing: var(--spacing);
    color: var(--gray-950);
}

.preset2 {
    font-family: figtree-medium, sans-serif;
    font-size: var(--h2);
    line-height: var(--line-height);
    letter-spacing: var(--spacing);
    color: var(--gray-500);
}

.preset3 {
    font-family: figtree-medium, sans-serif;
    font-size: var(--h3);
    line-height: var(--line-height);
    letter-spacing: var(--spacing);
    color: var(--gray-950);
}

.preset3-bold {
    font-family: figtree-extra-bold, sans-serif;
    font-size: var(--h3);
    line-height: var(--line-height);
    letter-spacing: var(--spacing);
    color: var(--gray-950);
}

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    background-color: var(--yellow);
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background-color: var(--white);
    width: 375px;
    padding: calc(var(--space-200) + var(--space-100));
    border-radius: calc(var(--space-200) + var(--space-100));
    border: 1px solid var(--gray-950);
    box-shadow: var(--space-100) var(--space-100) 0px var(--gray-950);

}
 
img {
    display: block;
    max-width: 100%;
    border-radius: var(--space-150);
}

.tag {
    background-color: var(--yellow);
    margin-top:calc(var(--space-200) + var(--space-200));
    border: 0;
    border-radius: 4px;
    padding: 4px 16px 4px 16px;
}

.author {
    display: flex;
    align-items: center;
    
}

.author > img {
    margin-right: var(--space-200);
    height: 36px;
    width: 36px;
}


.attribution { text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }